@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.pointer {
  cursor: pointer;
}
.flex-absolute-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-vertical-center {
  display: flex;
  align-items: center;
}
